# Node
node_modules/
Frontend/dist/
Frontend/build/

# .NET
Backend/bin/
Backend/obj/

# Env & Secrets
.env
.env.local
.env.production
Backend/appsettings.json
Backend/appsettings.Development.json
Frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
